body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
}
header h1{
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
    padding-left: 2rem;
}
header img{
    width: 6rem;
    height: 6rem;
}

main{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 30% 70%;
}
main :first-child{
    grid-area: 1 / 1 / 1 / 1 ;
}

main section img{
    height: 100%;
    width: 100%;
}

