body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 1fr 2.5fr 0.5fr;
    
}
header{
    display: flex;
    flex-direction: row;
    grid-row-start: 1;
    grid-row-end: 2;
}
header h1{
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
    padding-left: 2rem;
}
header img{
    width: 6rem;
    height: 6rem;
}

main{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 30% 70%;
}
main :first-child{
    grid-area: 1 / 1 / 1 / 1 ;
    
}
main :nth-child(2){
    display: flex;
    
    justify-content: left;
    
}
form{
    margin-left: 10px;
    
}

label{
    display: block;
}
input[type="tekst"], input[type="email"], input[type="date"], input[type="select"], input[type="submit"]{
    display: block;
    width: 100px;
}

main section img{
    height: 100%;
    width: 100%;
}
footer{
    grid-row-start: 3;
    grid-row-end: 4;
}
